/******Potsdam*******
***design variables**
*********************/
/*
$base_color: #003f60;
$base_color_2: #004260;
$contrast_color: #000;
$background_color: #fff;
$background_color_2: #ededed;
$date_container_color: #d0dae3;
$menu_button_color: #cfdae3;
$notification_button_color: #d0dae3;
$appointment_border: #cec7c7;
*/

/******Viadrina******
***design variables**
*********************/

$base_color: #15327A;
$base_color_2: #15327A;
$contrast_color: #F8C400;
$background_color: #fff;
$background_color_2: #fff;
$date_container_color: #CCCCAF;
$menu_button_color: #CCCCAF;
$notification_button_color: #F8C400;
$appointment_border: #F8C400;


@font-face {
   font-family: regularFont;
   src: url('../fonts/Viadrina_fonts/TheSansPlain.eot') format('eot'), url('../fonts/Viadrina_fonts/TheSansPlain.woff') format('woff'), url('../fonts/Viadrina_fonts/TheSansPlain.svg') format('svg'), url('../fonts/Viadrina_fonts/TheSansPlain.ttf') format('truetype');
 }



* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	background-color: $background_color;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
	margin: 0;
	color: $base_color;
}

/*layout sections*/
#app {
	margin-bottom: 40px;
	margin-top: 70px;
}
#header {
	background-color: $base_color_2;
	height: 62px;
	margin-bottom: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

.content-container {
	margin-bottom: 10px;
}

.content-footer {
	margin-top: 40px;
	text-align: right;
}

/*****Impressum******
*********************/
#impressum-html-content {
	text-align: center;
}

#impressum-html-content em {
	font-weight: bold;
}

#impressum-html-content p {
    margin-top: 10px;
    margin-bottom: 40px;
}

.impressum-footer {
	position: fixed;
	bottom: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	background: $base_color_2;
	padding-left: 10px;
}

#teaser {
	border: 1px solid #444;
	border-radius: 10px;
	padding: 5px;
}

#teaser:before {
	display: block;
	width: 10%;
	height: 100px;
	font-size: 3em;
	float: left;
	font-family: FontAwesome;
	margin-right: 5px;
	content: "\f086";
	margin-left: 3px;
	color: $base_color;
}

#dates {
	margin-left: 3px;
}

.date-content {
	width: 90%;
	float: left;
}

.notification {
	width: 10%;
    float: right;
    text-align: center;
}

.notifyAppointmentButton, {
	margin: 0 auto;
    display: inline-block;
    background-color: $notification_button_color;
    padding: 6px;
    border-radius: 50%;
    width: 1em;
    height: 1em;
}

.date-container {
	float: left;
	margin-right: 15px;
	text-align: center;
	font-family: regularFont, 'Source Sans Pro', sans-serif;
    font-weight: 600;
	width: 70px;
	background-color: $date_container_color;
}

.date-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
	padding-top: .1em;
	padding-bottom: .1em;
	height: 50px;
}

.data, .data-full {
	display: inline-block;
	vertical-align: top;
	width: 60px;
	padding-bottom:3px;
}

.date {
	font-size: 1em;
	display: inline;
}

.time {
	font-size: .8em;
	color: $base_color;
	font-family: sans-serif;
	display: inline;
}

.description {
	max-height: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
	line-height: 1.6em;
	font-family: regularFont, 'Source Sans Pro', helvetica, arial, sans-serif;
}

.description-full {
	text-overflow: clip;
	overflow: visible;
	white-space: normal;
	font-weight: bold;
}

.subdescription {
	font-size: 0.8em;
	max-height: 3.3em;
	overflow: hidden;
	line-height:1.4em;
	word-wrap: break-word;
}

.subdescription a, .subdescription-full a {
	font-weight: bold;
}

.expand{
	max-height: none !important;
}

.subdescription-full {
	font-size: 0.8em;
	overflow: hidden;
	margin-right: 5px;
	word-wrap: break-word;
}

#questions {
	margin-top: 1em;
}

.clear {
	clear: both;
}

/*font only*/
#header h1 {
  padding-top: 5px;
  font-size: 1.8em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 5px;
  line-height: 1.8em;
  font-family: regularFont, 'Source Sans Pro', helvetica, sans-serif;
  font-style: italic;
  color: $background_color_2;
}

p {
	line-height: 150%;
	margin-top: 0;
}

p.left {
	text-align:left;
	margin-left:10px;
	font-family: 'Source Sans Pro', arial,  sans-serif;
	margin-right:10px;
}

p.center{
	text-align: center;
	margin: 10px auto;
	font-family: 'Source Sans Pro', arial,  sans-serif;
}

p.welcome {
	text-align: center;
	font-family: regularFont, 'Source Sans Pro', arial,  sans-serif;
	margin-left:10px;
	margin-right:10px;
}

#header.hasBackButton h1 {
	margin-left:60px;
}

#header.hasLanguagesButton h1 {
	margin-left:30px;
}

h2 {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.6em;
}

em {
	color: $base_color;
}

h1+em {
	font-size: 2em;
	font-family: georgia, serif;
	display: block;
	margin-bottom: 5px;
	text-align: center;
}

#teaser p {
	margin-bottom: 5px;
	padding-bottom: 20px;
	padding-left: 55px;
	font-size: 1em;
}
/*list items*/

ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 0px;
}

li {
	margin-left: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

#questions li {
	border-radius: 80px;
    background: $base_color_2;
    padding-left: 20px;
    margin-bottom: 5px;
}

#appointments li {
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid $appointment_border;
}

li.collabsable a {
	display: block;
	text-decoration: none;
	font-size: 1em;
	line-height: 2;
	color: white;
}

li.collabsable a:after {
	content: "\f105";
	display: block;
	font-size: 2em;
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-os-font-smoothing: grayscale;
	position: absolute;
	right: 1em;
	margin-top: -33px;
}

/*******Links********
*********************/
a {
	text-decoration: none;
	color: $base_color;
}

a:active {
	color: $base_color;
}

a:visited {
	text-decoration: none;
}

/*******Forms********
*********************/
textarea {
	display: block;
	margin: 0 auto;
	width: 85%;
	height: 150px;
}

#answer {
	text-align: left;
}

.footerlink {
	display: inline-block;
	padding-left: .1em;
	color: $background_color;
}

.footerlink_Config{
	display: inline-block;
	padding-left: .1em;
	color: $background_color;
}

.radio-button {
	margin: 10px;
	height: 20px;
	width: 20px;
}

/******Buttons*******
*********************/
.back {
	float: left;
	padding-right: .5em;
	font-size: 1.6em;
	line-height: 1.8;
	margin-top: 12px;
	margin-left:3px;
}

.back:before {
    content: "\f104";
    display: block;
    font-size: 35px;
    font-family: FontAwesome;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-os-font-smoothing: grayscale;
    color: $background_color;
    /* border: 2px solid #cfdae3; */
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-indent: 10px;
    line-height: 1.1em;
}

.languages_init {
	float: right;
	padding-right: .5em;
	font-size: 1.6em;
	line-height: 1.8;
	margin-top: 15px;
}

.languages_init:before{
	content: "\f0ac";
	display: block;
	font-size: 1em;
	font-family: FontAwesome;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-os-font-smoothing: grayscale;
	color: $background_color;
}

.prev-next-nav {
	bottom: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

.np-wrapper {
	width: 100%;
	text-align: center;
}

.prev-next-nav a {
	width: 50%;
	border: 0px solid #CCC;
	background-color: $base_color !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-top: 1em;
	border-radius: 80px;
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: $background_color;
	float: left;
}

.prev-next-nav .button.finish {
	text-align: center;
	color: $background_color;
	margin: 0 auto;
	float: none !important;
}

.finish:before {
	content: "\f00c";
	font-family: FontAwesome;
	margin-right: 5px;
}

a.button {
	text-decoration: none;
	background-color: #DDD;
	padding: 10px 15px 10px 15px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	color: $menu_button_color;
	margin: auto;
}

#feedbackform .button, #language .button {
	width: 50%;
    border: 0px solid #CCC;
    background-color: $base_color !important;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
	margin: 0 auto;
    border-radius: 80px;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $background_color;
}

#teaser a {
	display: block;
	text-align: center;
	font-size: 1.5em;
	border: 0px solid #CCC;
	background-color: $base_color_2 !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin-top: -1em;
	border-radius: 80px;
	color: $background_color;
	min-width: 60%;
	float: right;
	padding: 10px;
	float: right;
}

/*******Panels*******
*********************/
#panel.extruder.right .extruder-content {
	border-left: 1px solid #999;
	background-color: $base_color_2;
	padding-top: 40px;
}

#navigation-footer {
	width: 100%;
}

#panel.extruder .voice {
	font-size: inherit;
	padding: 0;
	padding-left: 0;
	margin-top: 30px;
}

#panel.extruder .voice a.label {
	display: inline-block;
	height: auto;
	padding-top: 10px;
	text-decoration: none;
	font-weight: normal;
}

#navigation-footer h1 {
	font-size: 1.3em;
	color: $menu_button_color;
	color: $background_color;
	font-family: georgia, serif;
	font-style: italic;
	font-weight: normal;
	padding-left: 25px;
	margin-bottom: 0px;
	line-height: 2;
	margin-top: 25px;
}

#navigation-footer a.button {
	border: none;
	background-color: $menu_button_color;
	white-space: nowrap;
	border-bottom: 1px solid #999;
	display: block;
	width: 100%;
}

#navigation-footer .button.home:before {
	color: $base_color;
	content: "\f015";
	font-family: FontAwesome;
	margin-right: 5px;
}

#navigation-footer .button.contactpersons:before {
	content: "\f0c0";
	font-family: FontAwesome;
	margin-right: 5px;
}

#navigation-footer .button.feedback:before {
	content: "\f086";
	font-family: FontAwesome;
	margin-right: 5px;
}

#navigation-footer .button.languages:before{
	content: "\f0ac";
	font-family: FontAwesome;
	margin-right: 5px;
}

#navigation-footer .button.logout:before {
	content: "\f011";
	font-family: FontAwesome;
	margin-right: 5px;
}

#navigation-footer .button.logout {
	border-top: 1px solid #999;
	margin-top: 5em;
}

#navigation-footer #more-questions-button:before {
	content: "\f086";
	font-family: FontAwesome;
	margin-right: 5px;
}

#more-appointments-button {
	cursor: pointer;
}

#more-appointments-button:before {
	content: "\f0f3";
	font-family: FontAwesome;
	margin-right: 5px;
}

#panel .flapLabel:before {
	font-family: FontAwesome;
    margin-right: 5px;
    content: "\f0c9";
    color: $background_color;
    font-size: 1.7em;
}

#panel {
	top: 20px;
}

#panel.extruder.right .flap {
	font-size: 18px;
	color: $background_color;
	top: 0;
	padding: 15px 5px 5px 5px;
	background-color: $base_color_2;
	width: 50px;
	height: 42px;
	position: absolute;
	right: 0;
	-moz-border-radius: 0 0px 0 0px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 0px;
	border-top-left-radius: 0;
	border-top-right-radius: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0px;
	-moz-box-shadow: 0px 0 0px transparent;
	-webkit-box-shadow: 0px 0 0px transparent;
	box-shadow: 0px 0 0px transparent;
}

#panel.extruder.right.isOpened .flap {
	margin-left: 40px;
	width: 27px;
}

#infopanel {
	display:none;
}

#infopanel .flapLabel:before {
	font-family: FontAwesome;
	margin-right: 5px;
	content: "\f05a";
}

#infopanel-content {
	padding: 10px;
    text-align: center;
    font-size: .8em;
    color: $background_color;
}

#feedbackresult p {
	text-align: center;
}

/*Loginform*/
#loginform {
	padding-bottom: 10px;
	padding-top: 10px;
}

#loginform input {
	display: block;
	border: 1px solid $background_color;
	font-size: 1.3em;
	background-color: $background_color !important;
	width: 95%;
	padding: 10px;
}

#loginform input[type="submit"] {
	border: 0px solid #CCC;
	background-color: $base_color !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	width: 43%;
	border-radius: 80px;
	color: $background_color;
}

/*Loginform*/
#submitform textarea {
	display: block;
	border: 1px solid $background_color;
	font-size: 1.3em;
	background-color: #fff !important;
	width: 80%;
	padding: 10px;
}

#submitform input[type="submit"] {
	border: 1px solid #ccc;
	background-color: #ccc !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	margin: auto;
	margin-top: 1em;
	width: 43%;
}

#loginform label {
	font-family: georgia, serif;
	font-style: italic;
	display: block;
	margin-top: .3em;
	color: $base_color;
	font-size: 2em
}

#loginform label:first-child {
	margin-top: 0;
}

.loginerror {
	padding: .5em;
	background: #cfdae3999;
	border: 1px solid red;
}

/*Terminbutton*/

/*Inhalt*/
.content-container {
	min-width: 250px;
}

.radio-button,input[type="radio"] {
	float: left;
	margin: 20px 20px 0px 5px;
	min-width: 30px;
	min-height: 30px;
}

.checkbox-button,input[type="checkbox"] {
	float: left;
	margin: 20px 20px 0px 5px;
	min-width: 30px;
	min-height: 30px;
}

#answer label {
	float: left;
	margin-top: 25px;
	width: 80%;
}

.submitbutton {
	display: inline-block;
	padding-left: 30px !important;
	padding-right: 30px !important;
	margin-right: 10px;
	height: 42px;
	padding-bottom: 0 !important;
	padding-top: 0px !important;
	margin-top: -4;
	line-height: 42px;
}

.contact-name {
	font-weight: bold;
}

.contact {
	margin-top: 1em;
	margin-bottom: 1em;
	line-height:1.4em;
	font-family: regularFont, 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

.external {
	color: $base_color;
	text-decoration: underline;
}

/* Style the buttons that are used to open and close the accordion panel */
button.accordion {
    background-color: $background_color_2;
    color: $base_color_2;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    margin-bottom:1px;
    outline: none;
    transition: 0.4s;
    font-size: 1.1em;
    border: none;
	position:relative;
	line-height: 1.5em;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active {
    background-color: #cfdae3;
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
}

div.panel.show {
    opacity: 1;
    max-height: 9000px;  /*Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

button.accordion:after {
    content: '\f067';
    font-size: 18px;
    color: #777;
    position: absolute;
    right: 5px;
    font-family: fontawesome;
    top: 30%;
}

button.accordion.active:after {
    content: "\f068"; /* Unicode character for "minus" sign (-) */
	font-size: 18px;
    color: #777;
    position: absolute;
    right: 5px;
    font-family: fontawesome;
    top: 30%;
}

/* removed class defines a web-kit-animation for appointments, together with the following keyframes */
/*		definitions */
.out {
	-webkit-animation: disappear 0.6s;
	-webkit-animation-fill-mode: forwards;
	animation: disappear 0.6s;
	animation-fill-mode: forwards;
}

@keyframes disappear{
	100%{
		-webkit-transform: translateX(500%);
		transform: translateX(500%);
	}
}

@-webkit-keyframes disappear {
	100%{
		-webkit-transform: translateX(500%);
		transform: translateX (500%);
	}
}

/* reinserted class defines a web-kit-animation for appointments, together with the following keyframes */
/*		definitions */
.in {
	-webkit-animation: reappear 0.8s;
	-webkit-animation-fill-mode: forwards;
	animation: reappear 0.8s;
	animation-fill-mode: forwards;
}

@keyframes reappear {
	0% {
		-webkit-transform: translateX(500%);
		transform: translateX (500%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
	}
}

@-webkit-keyframes reappear {
	0% {
		-webkit-transform: translateX(500%);
		transform: translateX (500%);
	}
	100% {
		-webkit-transform: translateX(0%);
		transform: translateX (0%);
	}
}


/* This class is used to give appointments a greyed-out look when they are marked as not important*/
/* It basically puts a "white cloth" with low opacity over the html that has it*/
.darkClass{
	opacity: 0.5;
}

.hideAppointmentButton{
	 display: inline-block;
    vertical-align: middle;
    width: 100%;
    border-bottom: 1px dotted #97a9b9;
    padding: 4px 0 4px 0;
    /* text-align: left; */
    margin-bottom: 3px;
}

/* Simple class to give format to the boxes containing the courses information in the initial-setup page*/
#course-list{
	font-family: regularFont, 'Source Sans Pro', arial,  sans-serif;
}

.course {
	margin: 5px 5px 5px 10px;
	padding: 0px 5px 0px 5px;
	border-bottom: 1px $contrast_color solid;
}

.institution{
	font-size: 0.8em;
	color:#353535;
}

.courseLink{
	font-size: 120%;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.infobutton {
    color: #dedede;
    display: inline-block;
    margin-top: 13px;
}

.infobutton.active {
	color:#014260;
}

.courseBlock {
	display: block;
	text-align:left;
	float: left;
	padding-bottom: 10px;
	width: 90%;
	padding-right: 10px;
    box-sizing: border-box;
}

.infobox{
	display: block;
	text-align: right;
    width: 10%;
    float: right;
}

.courseDescription {
	display: none;
	position: relative;
	margin-top: 5px;
}

.courseDescription:after{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 13px 11px;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -13px;
	top: -10px;
	right:0;
}

.courseDescription:before{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 0 13px 11px;
	border-color: #7F7F7F transparent;
	display: block;
	width: 0;
	z-index: 0;
	margin-left: -13px;
	top: -10px;
	right: 0;
}

.courseDescription p, .content-container p, p.feedback, #end-message {
    background-color: $background_color_2;
    padding: 10px;
	font-size: .9em;
	text-align: center;
	font-family: regularFont, 'Source Sans Pro', arial,  sans-serif;
}

#initialSetup p.welcome {
	text-align: left;
    margin-top:80px;
    font-size: .9em;
	line-height:2em;
    border-bottom: 1px solid #bebebe;
	margin-bottom:5px;
	font-weight:bold;
}

#initialSetup p.welcome em {
	 color: #000;
}


/*  Simple class to set the relative position of the logos that are to be displayed within the boxes of the initial-setup page   */
.logo-container-format{
	object-position: center;
}

/* Simple class to format the select box containing the languages in which the app is available*/
#language-select-container{
	margin: 40px auto;
	max-width: 300px;
}

.language-select {
  height: 29px;
  overflow: hidden;
  width: 100%;
}

.language-select select {
  background: rgb(243, 241, 241);
  border: none;
  font-size: 18px;
  height: 32px;
  padding: 5px;
  /* If you add too much padding here, the options won't show in IE */
  width: 90%;
  color: #676262;
}

.rounded {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.blue {
  background-color: $date_container_color;
}