/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	/* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
	-webkit-touch-callout: none;
	/* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;
	/* prevent webkit from resizing text to fit */
	-webkit-user-select: none;
	/* prevent copy paste, to allow, change 'none' to 'text' */
	/*background-color:#E4E4E4;*/
	background-color: #333333;
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
	margin: 5px;
	margin-left: 0px;
	color: #EEE;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
}
#header {
	background-color: #000;
  height: 62px;
  border-bottom: 2px solid #2F9BFF;
}


#header h1 {
	
	  padding-top: 10px;
	font-size: 1.8em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;


  text-align: left; text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

 
  margin-left: 60px;
}

h2 {
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 1.6em;
}

ul {
	list-style-type: none;
	padding: 0px;
	margin-left: 0px;
}

li {
	margin-left: 0px;
	margin-bottom: 5px;
	margin-top: 10px;
}

p {
	line-height: 150%;
	margin-top: 0;
}

.welcome {
	text-align: center;
	
}

a {
	text-decoration: none;
	color: #fff;
}

a:active {
	color: #2F9BFF;
}

a:visited {
	text-decoration: none;
}

em {
	color: #2F9BFF
}

h1+em {
	font-size: 2em;
	font-family: georgia, serif;
	display: block;
	margin-bottom: 5px;
	text-align: center;;
}

#feedbackform textarea {
	display: block;
	margin: 0 auto;
	width: 95%;
}

textarea {
	width: 80%;
	height: 150px;
}

#app {
	margin-bottom: 60px;
}

.back {
	float: left;
	padding-right: .5em;
	font-size: 1.6em;
	line-height: 1.8;
}

.footerlink {
	display: inline-block;
	padding-left: .1em;
}

.back:before {
	content: "\f112";
	display: block;
	font-size: 1em;
	font-family: FontAwesome;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-os-font-smoothing: grayscale;
	color: #2F9BFF;
	border: 2px solid #2F9BFF;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-indent: 1px;
	line-height: 1.4em;
}

.content-container {
	margin-bottom: 10px;
}

/*Terminbutton*/
.content-footer {
	margin-top: 40px;
	text-align: right;
}

.prev-next-nav {
	bottom: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
}

.np-wrapper {
	width: 60%;
	margin: 0 auto;
	text-align: center;
	
}

.prev-next-nav a {
	display: inline-block !important;
	width: 30%;
	border: 0px solid #CCC;
	background-color: #2F9BFF !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	margin: auto;
	margin-top: 1em;
	border-radius: 80px;
	color: #FFF;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*#nextButton:after {
	font-size:1.3em;
	line-height:2em;
	color: #fff;
	content: "\f054";
	font-family: FontAwesome;
	
	
} 
*/

.prev-next-nav .button.finish {
	text-align:center;
  color: #FFF;
  margin: 0 auto;
  margin-right:5px;
}


.finish:before {
	
	content: "\f00c";
	font-family: FontAwesome;
	margin-right:5px;
	
}

a.button {
	text-decoration: none;
	background-color: #DDD;
	padding: 10px 15px 10px 15px;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	/* min-width: 170px; */
	color: #2F9BFF;
}


.impressum-footer {
	position: fixed;
	bottom: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	width: 100%;
	background: #252525;
	padding-left: 10px;
}


.line {
	height: 2px;
	width: 100%;
	background: #777;
	box-shadow: inset 0px 1px 1px 0px #111;
}

#feedbackform .button {
	border: 0px solid #CCC;
	background-color: #2F9BFF !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	margin: auto;
	margin-top: 1em;
	width: 43%;
	border-radius: 80px;
	color: #FFF;
	display: block;
	margin: 0 auto;
	text-align: center;
}


#appointments li {
	padding-bottom: 1em;
	border-bottom: 1px solid #444;
}



#teaser {
	
	border: 1px solid #444;
	border-radius: 10px;
	padding: 5px;
}

#teaser a {
	display: block;
	text-align: center;
	font-size: 1.5em;
	border: 0px solid #CCC;
	background-color: #2F9BFF !important;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.3em;
	margin-top: -1em;
	border-radius: 80px;
	color: #FFF;
	min-width: 60%;
	float: right;
	padding: 10px;
	float: right;
}

#teaser p {
	margin-bottom: 5px;
	padding-bottom: 20px;
	padding-left: 55px;
	font-size: 1em;
}

#teaser:before {
	display: block;
	width: 10%;
	height: 100px;
	font-size: 3em;
	float: left;
	font-family: FontAwesome;
	margin-right: 5px;
	content: "\f086";
	margin-left: 3px;
	color: #2F9BFF;
}

#dates {
	margin-left: 3px;
}

.date-container {
	float: left;
	margin-right: 15px;
	text-align: center;
	border: 1px solid #CCC;
	font-family: georgia, serif;
	width: 70px;
}

.date-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
	padding-top: .1em;
	padding-bottom: .1em;
	height: 50px;
}

.nav {
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 16px;
}

.data {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
}

.date {
	font-size: 1em;
	display: inline;
}

.time {
	font-size: .8em;
	color: #2F9BFF;
	font-family: sans-serif;
	display: inline;
}

.description {
	margin-right: 5px;
	max-height: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-weight: bold;
}

.description-full {
	margin-right: 5px;
	max-height: 60px;
	text-overflow: clip;
	overflow: visible;
	white-space: normal;
	font-weight: bold;
}

.subdescription {
	font-size: 0.8em;
	margin-right: 5px;
	max-height: 3.3em;
	overflow: hidden;
}

.subdescription-full {
	font-size: 0.8em;
	overflow: visible;
	margin-right: 5px;
	max-height: 3.3em;
}

li.collabsable a {
	display: block;
	color: #fff;
	text-decoration: none;
	font-size: 1em;
	line-height: 2;
}

li.collabsable a:after {
	content: "\f105";
	display: block;
	font-size: 2em;
	font-family: FontAwesome;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-os-font-smoothing: grayscale;
	position: absolute;
	right: 1em;
	margin-top: -33px;
}

#questions {
	margin-top: 3em;
}

.clear {
	clear: both;
}

.event {
	border-radius: 4px;
	-webkit-border-radius: 4px;
	color: #FFFFFF;
	font-size: 1.1em;
	margin: 0px 30px;
	padding: 2px 0px;
}

.event.listening {
	background-color: #333333;
	display: block;
}

.event.received {
	background-color: #4B946A;
	display: none;
}

.radio-button {
	margin: 10px;
	height: 20px;
	width: 20px;
}

/* panel */

#panel.extruder.left .extruder-content {
	border-right: 1px solid #999;
  background-color: #000;
  padding-top: 60px;
 }
 
 .navigation-footer {
	
	width: 100%;
}
 
 
 .navigation-footer a.button:after {
	position: absolute;
	right: 3px;
	color: #2F9BFF;
	content: "\f054";
	font-family: FontAwesome;
}

.navigation-footer a.button {
	border: none;
	background-color:#333;
	white-space: nowrap;
	border-bottom: 1px solid #999;
	display: block;
	width: 100%;
}

.navigation-footer .button.home:before {
	color: #2F9BFF;
	content: "\f015";
	font-family: FontAwesome;
	margin-right: 5px;
}

.navigation-footer .button.feedback:before {
	content: "\f086";
	font-family: FontAwesome;
	margin-right: 5px;
}

.navigation-footer #more-questions-button:before {
	content: "\f086";
	font-family: FontAwesome;
	margin-right: 5px;
}
 
 #more-appointments-button {
	cursor: pointer;
}

#more-appointments-button:before {
	content: "\f0f3";
	font-family: FontAwesome;
	margin-right: 5px;
}

.button:active {
	background: #333;
	color: #EEE
}

#panel.extruder.left .flap {
	font-size: 18px;
  color: #FFF;
  top: 0;
  padding: 10px 0 10px 10px;
  margin-right: -60px;
  margin-top: 5px;
  background-color: #000;
  width: 50px;
  height: 42px;
  position: absolute;
  right: 0;
  -moz-border-radius: 0 0px 0 0px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0; 
  -webkit-border-bottom-right-radius: 0px; 
  border-top-left-radius: 0; 
  border-top-right-radius: 0px; 
  border-bottom-left-radius: 0; 
  border-bottom-right-radius: 0px; 
  -moz-box-shadow: 0px 0 0px transparent;
  -webkit-box-shadow: 0px 0 0px transparent; 
  box-shadow: 0px 0 0px transparent; 
}

#panel.extruder.left.isOpened .flap {
	border-right:1px solid #999;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	margin-right:-60px;
}

#panel.extruder.left .flap .flapLabel {
	background-color:transparent;
}