<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ 'pageHeader.questionsPage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-refresher (ionRefresh)="initQuestions(true, $event)" slot="fixed">
    <ion-refresher-content
    pullingText=""
    refreshingText=""></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" class="ion-padding">
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngFor="let module of sessions; let m = index">
    <ion-item-divider *ngIf="isLoaded" (click)="moduleExpanded[m] = !moduleExpanded[m]">
      <ion-icon *ngIf="moduleExpanded[m]" slot="start" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!moduleExpanded[m]" slot="start" name="arrow-dropright"></ion-icon>
      <ion-label>{{ module.courseName }} ({{ module.courseFac }})</ion-label>
      <ion-badge *ngIf="questionList[m] && questionList[m].length !== 0" mode="ios" slot="end" color="primary" class="ion-margin-end">{{ questionList[m].length }}</ion-badge>
      <ion-badge *ngIf="!questionList[m] || questionList[m].length === 0" mode="ios" slot="end" color="light" class="ion-margin-end">0</ion-badge>
    </ion-item-divider>

    <ion-row *ngIf="isLoaded && noQuestions[m] && moduleExpanded[m]">
      <ion-col>
        <ion-card>
          <ion-card-content class="reminder">
            {{ "label.questionsPage.hintNewQuestionsSoon" | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="isLoaded && moduleExpanded[m] && !noQuestions[m]">
      <app-question *ngFor="let quest of questionList[m]" [questions]="quest"></app-question>
    </div>

    <div *ngIf="isLoaded && !noCompletedQuestions[m] && moduleExpanded[m]" class="ion-padding-top ion-padding-horizontal ion-text-wrap">
      <ion-item class="completedQuestion" lines="none" (click)="showCompletedQuestions[m] = !showCompletedQuestions[m]">
        <ion-icon slot="start" *ngIf="!showCompletedQuestions[m]" name="arrow-dropright"></ion-icon>
        <ion-icon slot="start" *ngIf="showCompletedQuestions[m]" name="arrow-dropdown"></ion-icon>
        <ion-label>{{ "buttonLabel.showCompletedQuestions" | translate }}</ion-label>
        <ion-badge *ngIf="completedQuestionList[m] && completedQuestionList[m].length !== 0" mode="ios" slot="end" color="primary" class="ion-margin-end">{{ completedQuestionList[m].length }}</ion-badge>
        <ion-badge *ngIf="!completedQuestionList[m] || completedQuestionList[m].length === 0" mode="ios" slot="end" color="light" class="ion-margin-end">0</ion-badge>
      </ion-item>
    </div>

    <div *ngIf="showCompletedQuestions[m] && moduleExpanded[m] && !noCompletedQuestions[m]">
      <app-question *ngFor="let quest of completedQuestionList[m]" [questions]="quest"></app-question>
    </div>
  </ng-container>
</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>