<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ 'pageHeader.settingsPage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider class="ion-padding-top">
    <ion-label>{{ "label.settingsPage.language" | translate }}</ion-label>
  </ion-item-divider>
  <ion-radio-group [value]="language" (ionChange)="onChange($event)">
    <ion-item>
      <ion-label>English</ion-label>
      <ion-radio value="en"></ion-radio>
      <ion-avatar slot="start">
        <img src="assets/imgs/flags/us.png">
      </ion-avatar>
    </ion-item>
    <ion-item>
      <ion-label>Deutsch</ion-label>
      <ion-radio value="de"></ion-radio>
      <ion-avatar slot="start">
        <img src="assets/imgs/flags/de.png">
      </ion-avatar>
    </ion-item>
  </ion-radio-group>

</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>
