page-push-messages {
    h3 {
        font-size: 0.95em!important;
        color: var(--ion-color-primary)!important;
        font-weight: bold!important;
    }

    .pushdate {
        font-size: 0.8em;
    }

    ion-row {
        border-bottom:1px solid #ededed;
    }

    .card {
        .card-content,
        .card-content-ios,
        .card-content-md {
            border:none;
            padding-top: 5px;
        }
    }
}
