<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ 'pageHeader.pushMessagesPage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
    pullingText=""
    refreshingText=""></ion-refresher-content>
  </ion-refresher>

  <div align="center" *ngIf="!isLoaded" class="ion-padding">
    <ion-spinner></ion-spinner>
  </div>

  <ng-container *ngFor="let module of sessions; let m = index">
    <ion-item-divider *ngIf="isLoaded" (click)="moduleExpanded[m] = !moduleExpanded[m]">
      <ion-icon *ngIf="moduleExpanded[m] && !responseError[m]" slot="start" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!moduleExpanded[m] || responseError[m]" slot="start" name="arrow-dropright"></ion-icon>
      <ion-label>{{ module.courseName }} ({{ module.courseFac }})</ion-label>
      <ion-badge *ngIf="pushMessages[m] && pushMessages[m].length !== 0" mode="ios" slot="end" color="primary" class="ion-margin-end">{{ pushMessages[m].length }}</ion-badge>
      <ion-badge *ngIf="!pushMessages[m] || pushMessages[m].length === 0" mode="ios" slot="end" color="light" class="ion-margin-end">0</ion-badge>
    </ion-item-divider>
    <!-- <ion-card *ngIf="responseError[m] && moduleExpanded[m]">
      <ion-card-content class="reminder ion-text-wrap">
        {{ "label.pushMessagesPage.noMessagesReceived" | translate }}
      </ion-card-content>
    </ion-card> -->

    <ng-container *ngIf="isLoaded && !responseError[m] && pushMessages[m] && moduleExpanded[m]">
      <div class="pushContainer ion-padding-horizontal" *ngFor="let push of pushMessages[m]; let i = index">
        <ion-card>
          <ion-card-header class="ion-text-wrap">
            <ion-card-subtitle>{{ push.title }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content class="ion-text-wrap">
            {{ push.message }}

            <div align="right" class="pushdate">
              {{ push.timestamp }} {{ "label.appointmentsPage.time" | translate }}
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </ng-container>
  </ng-container>
</ion-content>
