<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "pageHeader.homePage" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div align="center" *ngIf="!isLoaded2" padding>
    <ion-spinner></ion-spinner>
  </div>

  <div>
    <ion-card *ngIf="isLoaded2">
      <ion-card-content class="reminder">
        <div *ngIf="openQuestions" text-wrap>{{ "label.questionsPage.hintUnansweredQuestions" | translate }}</div>
        <div *ngIf="!openQuestions" text-wrap>{{ "label.questionsPage.hintNewQuestionsSoon" | translate }}</div>
        <br *ngIf="openQuestions">
        <div align="right">
          <button *ngIf="openQuestions" ion-button small (click)="goToQuestions()" text-wrap>
              {{ "buttonLabel.goToQuestions" | translate }}
          </button>
        </div>
      </ion-card-content>
    </ion-card>
    <div *ngIf="isLoaded2 && openQuestions" style="position: relative">
      <ion-fab mini left bottom edge>
        <div ion-fab color="darkerSecondary">
          <ion-icon name="ios-chatbubbles"></ion-icon>
        </div>
      </ion-fab>
    </div>
  </div>

  <div align="center" *ngIf="!isLoaded && isLoaded2" padding>
      <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="isLoaded">
    <event *ngFor="let ev of eventList; let i = index"
    [event]="ev"
    [hiddenEvent]="hiddenEvent[ev.id]" 
    [scheduledEvent]="scheduledEvent[ev.id]"
    [index]="i"
    [isPushAllowed]="isPushAllowed"
    (visibilityChanged)="checkUpdatedCards('HomePage')"
    (notificationStatusChanged)="notificationStatusChanged()"></event>
  </div>

</ion-content>

<ion-footer>
    <tab-bar></tab-bar>
</ion-footer>
