<ion-header>
  <ion-navbar>
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "pageHeader.appointmentsPage" | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <div align="center">
    <ion-col>
      <button ion-button [ngClass]="showAll ? 'activeCalendarButton' : 'calendarButton'" (click)="resetCalendar()">{{ "buttonLabel.showAll" | translate}}</button>
      <button ion-button [ngClass]="basicCalendarMode ? 'activeCalendarButton' : 'calendarButton'" (click)="basicCalendarMode = true; rangeCalendarMode = false; showBasicCalendar = !showBasicCalendar; showRangeCalendar = false; showAll = false;">{{ "buttonLabel.pickDate" | translate}}</button>
      <button ion-button [ngClass]="rangeCalendarMode ? 'activeCalendarButton' : 'calendarButton'" (click)="rangeCalendarMode = true; basicCalendarMode = false; showRangeCalendar = !showRangeCalendar; showBasicCalendar = false; showAll = false;">{{ "buttonLabel.pickDateRange" | translate}}</button>
    </ion-col>
  </div>

  <ion-calendar *ngIf="showBasicCalendar" [(ngModel)]="date"
    (onChange)="pickDate($event)"
    [options]="optionsBasic"
    [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>

  <ion-calendar *ngIf="showRangeCalendar" [(ngModel)]="dateRange"
    (onChange)="pickRange($event)"
    [options]="optionsRange"
    [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>

  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner></ion-spinner>
  </div>
  
  <div *ngIf="isLoaded && !showAll">
    <event *ngFor="let ev of eventList; let i = index"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]" 
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></event>
  </div>

  <div *ngIf="isLoaded && showAll">
    <button no-lines ion-item [disabled]="!isEventToday" (click)="showEventToday = !showEventToday">
      <div *ngIf="!isEventToday">{{ "label.appointmentsPage.today" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventToday">{{ "label.appointmentsPage.today" | translate }}</div>
      <ion-icon *ngIf="showEventToday && isEventToday" item-left name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventToday || !isEventToday" item-left name="arrow-dropright"></ion-icon>
    </button>
    <div *ngFor="let ev of eventList; let i = index">
      <event *ngIf="eventToday[ev.id] && showEventToday"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]" 
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></event>
    </div>
    <button no-lines ion-item [disabled]="!isEventTomorrow" (click)="showEventTomorrow = !showEventTomorrow">
      <div *ngIf="!isEventTomorrow">{{ "label.appointmentsPage.tomorrow" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventTomorrow">{{ "label.appointmentsPage.tomorrow" | translate }}</div>
      <ion-icon *ngIf="showEventTomorrow && isEventTomorrow" item-left name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventTomorrow || !isEventTomorrow" item-left name="arrow-dropright"></ion-icon>
    </button>
    <div *ngFor="let ev of eventList; let i = index">
      <event *ngIf="eventTomorrow[ev.id] && showEventTomorrow"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]" 
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></event>
    </div>
    <button no-lines ion-item [disabled]="!isEventThisWeek" (click)="showEventThisWeek = !showEventThisWeek">
      <div *ngIf="!isEventThisWeek">{{ "label.appointmentsPage.thisWeek" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventThisWeek">{{ "label.appointmentsPage.thisWeek" | translate }}</div>
      <ion-icon *ngIf="showEventThisWeek && isEventThisWeek" item-left name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventThisWeek || !isEventThisWeek" item-left name="arrow-dropright"></ion-icon>
    </button>
    <div *ngFor="let ev of eventList; let i = index">
      <event *ngIf="eventThisWeek[ev.id] && showEventThisWeek"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]" 
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></event>
    </div>
    <button no-lines ion-item [disabled]="!isEventLater" (click)="showEventLater = !showEventLater">
      <div *ngIf="!isEventLater">{{ "label.appointmentsPage.later" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventLater">{{ "label.appointmentsPage.later" | translate }}</div>
      <ion-icon *ngIf="showEventLater && isEventLater" item-left name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventLater || !isEventLater" item-left name="arrow-dropright"></ion-icon>
    </button>
    <div *ngFor="let ev of eventList; let i = index">
      <event *ngIf="eventLater[ev.id] && showEventLater"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]" 
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></event>
    </div>
  </div>

  
  <ion-row *ngIf="noAppointments">
      <ion-col>
        <ion-card>
          <ion-card-content class="reminder">
           {{ "label.appointmentsPage.noAppointmentsAvailable" | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
  </ion-row>

</ion-content>

<ion-footer>
    <tab-bar></tab-bar>
</ion-footer>
