page-appointments {
    .hideLongDescription .longDescription {
        div {
            line-height: 20px;
        }
    }

    .card-content.reminder {
        border:none;
        text-align: center;
      }

    .calendarButton {
        width: 30.5%;
        background-color: color($colors, upligthblue);
        color: color($colors, primary);
        border-radius: 10px;
    }

    .activeCalendarButton {
        width: 30.5%;
        background-color: color($colors, primary);
        color: color($colors, upligthblue);
        border-radius: 10px;
    }

    .button:hover {
        color: color($colors, upligthblue);
    }

    ion-calendar-month .primary .days .marked p, ion-calendar-month .primary .days .today p,
    ion-calendar-month .primary button.days-btn small {
        color: color($colors, primary);
    }

    ion-calendar-month .primary .days .on-selected, ion-calendar-month .primary .endSelection button.days-btn,
    ion-calendar-month .primary .startSelection button.days-btn {
        background-color: color($colors, primary);
        color: color($colors, upligthblue);
    }

    ion-calendar-month .primary .startSelection:after,
    ion-calendar-month .primary .between button.days-btn,
    ion-calendar-month .primary .endSelection:after  {
        background-color: color($colors, upligthblue);
    }

    ion-calendar-month .primary .days .marked.on-selected p, ion-calendar-month .primary .days .today.on-selected p,
    ion-calendar-month .primary .endSelection button.days-btn p {
        color: color($colors, upligthblue);
    }

    ion-calendar-month .primary .between button.days-btn p {
        color: color($colors, primary);
    }

}
