<ion-toolbar>
  <ion-row class="ion-nowrap">
    <ion-segment-button (click)="openPage(0)">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{ "pageHeader.homePage_alt" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="openPage(1)">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>{{ "pageHeader.infoPage" | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button (click)="openPage(2)">
      <ion-icon name="book"></ion-icon>
      <ion-label>{{ "pageHeader.impressumPage" | translate }}</ion-label>
    </ion-segment-button>
  </ion-row>
</ion-toolbar>
