<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ 'pageHeader.contactsPage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
  <ion-list>
    <ng-container *ngFor="let module of selectedModules; let m = index">
      <ion-item-divider (click)="moduleExpanded[m] = !moduleExpanded[m]">
        <ion-label>{{ module.title }} ({{ module.faculty }})</ion-label>
        <ion-icon *ngIf="moduleExpanded[m]" slot="start" name="arrow-dropdown"></ion-icon>
        <ion-icon *ngIf="!moduleExpanded[m]" slot="start" name="arrow-dropright"></ion-icon>
      </ion-item-divider>
      <div *ngIf="module && module.contactPersonsObject && module.contactPersonsObject.length > 0 && moduleExpanded[m]">
        <ion-list class="ion-padding-horizontal">
          <div *ngFor="let module of module.contactPersonsObject; let i = index" class="ion-margin-top">
            <app-contact-persons [contactPersonsObject]="module"></app-contact-persons>
          </div>
        </ion-list>
      </div>

      <ion-card *ngIf="!(module && module.contactPersonsObject && module.contactPersonsObject.length > 0) && moduleExpanded[m]">
        <ion-card-content class="reminder">
          <div>{{ "label.contactsPage.noContactsAvailable" | translate }}</div>
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>
