<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/up-style.css" />
    <link rel="stylesheet" type="text/css" href="css/mbExtruder.css" />

    <script type="text/javascript" src="cordova.js"></script>

	<!--  jquery extruder plugin for navigation panel -->
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.hoverIntent.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mb.flipText.js"></script>
    <script type="text/javascript" src="js/lib/mbExtruder.js"></script>

    <script type="text/javascript">
        $(function(){

          $("#panel").buildMbExtruder({
          	 position:"right",
               width:300,
               extruderOpacity:.8,
               onExtOpen:function(){},
               onExtContentLoad:function(){},
               onExtClose:function(){},
               closeOnExternalClick: true
          });

          $("#infopanel").buildMbExtruder({
             position:"bottom",
               width:300,
               extruderOpacity:.8,
               onExtOpen:function(){},
               onExtContentLoad:function(){},
               onExtClose:function(){}
          });

        });
    </script>

    <!--
        Template:       Home Screen
    -->
    <script type="text/template" id="template-home-screen">
        <div id="header">
            <h1><%- title %></h1>
        </div>
        <div id="dates"></div>
        <div id="questions"></div>

        <div class="impressum-footer" >
            <a class="footerlink">Impressum</a>
        </div>
        <br />
        <br />
    </script>

    <!--
        Template:       Config Screen
    -->
    <script type="text/template" id="template-config-screen">
        <div id="header">
            <h1><%- title %></h1>
        </div>
        <p style="display: none;" class="loginerror">Login fehlgeschlagen!</p>
        <p style="display: none;" class="loginrunning">Login läuft...</p>

        <div class="loginform">
            <form id="loginform" type="POST">
                <label for"username">Benutzername</label>
                <input type="text" id="username" placeholder="Benutzername ohne @uni-..." />
                <label for"password">Passwort</label>
                <input type="password" id="password" placeholder="Passwort" />
                <input type="submit" value="Anmelden" />
            </form>

            <p class="welcome">
                <em style="font-style:normal;">Um den angeforderten Dienst nutzen zu können, musst du dich hier einloggen.</em>
                <br />
                Bitte verwende zur Anmeldung als Benutzername dein Mailkürzel ohne @uni-potsdam.de.
            </p>
        </div>
        <div class="impressum-footer" >
            <a class="footerlink">Impressum</a>
        </div>
    </script>
	
	<script type= "text/template" id="template-initial-setup">
            <p class="welcome">
                <em style="font-style:normal;">Da gibt es vier verschiedene Kurse zum Wahlen:</em>
				<br />
            </p>
			<div class= "flex-grid">
				<% _.each(tabs.models, function(tab){ %>
					<div id="<%= tab.get('id')%>" class="grid-item courseTab">
						<p><%= tab.get('title')%></p>
						<br>
						<p><%= tab.get('description')%></p>
					</div>
				<% }); %>
			</div>
			<div class="impressum-footer">
				<a class="footerlink">Uni Potsdam</a>
			</div>
	</script>
	

    <!--
        Template:       Question Screen
    -->
    <script type="text/template" id="template-questions-screen">
        <div id="header" class="hasBackButton">
            <a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1> <%- title %></h1>
        </div>
        <div id="questions"></div>
    </script>

    <!--
        Template:       Question Collection List
    -->
    <script type="text/template" id="template-question-collection-list">
        <% if (model.length > 0 && notice){ %>
            <div id="teaser">
                <p>Du hast noch nicht alle Reflexionsfragen beantwortet! Nimm Dir ein wenig Zeit und gehe die fehlenden Fragen durch.</p>
                <a href="#questions"> Zu den Reflexionsfragen</a>
            </div>
        <% }else if (model.length == 0){ %>
            <div id="teaser">
                <p>Weitere Reflexionsfragen folgen in Kürze!</p>
            </div>
        <% }else{ %>
            <ul id="question-collection"></ul>
        <% } %>
    </script>


    <script type="text/template" id="template-question-finish">
       <div id="header"> <h1>Fertig</h1></div>
        <p><i class="fa fa-check"></i> Vielen Dank, Du hast alle Fragen beantwortet.</p>

        <div class="prev-next-nav">

        <a href="#" class="button finish">Fertig</a>
        </div>
    </script>

    <script type="text/template" id="template-appointments-screen">
        <div id="header" class="hasBackButton"><a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1> <%- title %></h1></div>
        <div id="dates"></div>
    </script>

    <script type="text/template" id="template-appointment-list">
        <ul id="appointments"></ul>
    </script>

    <script type="text/template" id="template-appointment-list-item">
        <div class="date-container" >
        <div class="data">
        <div class="date" >
        <%- model.begin.getDate() %>.<%- ('0'+(model.begin.getMonth()+1)).slice(-2) %>
        <% if (model.begin.getDate() != model.end.getDate()){ %>
        -
        <%- ('0'+(model.end.getDate())).slice(-2) %>.<%- ('0'+(model.end.getMonth()+1)).slice(-2) %>
        <% } %>
        </div>
        <div class="time" >
        <% if (model.begin.getTime() === model.end.getTime()){  %>
        ganztägig
        <% }else{ %>
        <% if (model.begin.getHours() != 0 && model.begin.getMinutes() != 0){ %>
        <%- ('0'+model.begin.getHours()).slice(-2) %>:<%- ('0'+model.begin.getMinutes()).slice(-2) %>
        -
        <%- ('0'+model.end.getHours()).slice(-2) %>:<%- ('0'+model.end.getMinutes()).slice(-2) %>
        <% } %>
        <% } %>
        </div>
        </div>
        </div>
        <% if (fullView == true) { %> <div class="description-full"> <% }else{ %> <div class="description"> <% } %>
        <%= model.title %></div>
        <% if (fullView == true) { %> <div class="subdescription-full"> <% }else{ %> <div class="subdescription"> <% } %>
        <%= model.description %></div>
        <div class="clear"></div>
         <% if (fullView == true) { %>
			<% if (model.toNotify == false) { %>
				<a id="notificationButton" class="notifyAppointmentButton"><i class="fa fa-bell-o icon-large" aria-hidden="true"></i></a> 
			<% } else { %>
				<a  class="notifyAppointmentButton"><i class="fa fa-bell icon-large" aria-hidden="true"></i></a>
			<% } %>
         <% } %>
    </script>

    <script type="text/template" id="template-question-collection-list-item">
        <a href="questions/<%- containerId %>/<%- questionId %>"> <%- title %></a>
    </script>

    <script type="text/template" id="template-question">
        <div id="header">
         <%  if(total == 1){ %>
        <h1>Frage</h1></div>
        <% }else{ %>
        <h1>Frage <%- number %> / <%- total %></h1>
        <% } %>
        </div>
        <div class="content-container">
        <p><%- questionText %></p>
        <div id="answer-feedback"></div>
        <div id="answer"></div>
        </div>
            <div class="prev-next-nav" >
            <div class="np-wrapper">
                 <a href="#questions/<%- containerId %>/<%- previousId %>" id="previousButton">Zurück</a>
                <a href="#questions/<%- containerId %>/<%- nextId %>" id="nextButton"> Weiter </a>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-impressum">
        <div id="header" class="hasBackButton"> <a class="back" title="zurück" alt="zurück button" href="#"></a>
             <h1>Impressum</h1>
        </div>

            <em style="font-family: Helvetica, Arial, sans-serif;font-size: 1em;font-weight:normal; text-align:left;">Herausgeber</em>
            <p>
            Universität Potsdam<br />
            Am Neuen Palais 10<br />
            14469 Potsdam<br /><br />
            <b>Tel.:</b> 0331 977-0<br />
            <b>Fax:</b> 0331 97 21 63<br />
            <b>Web:</b> www.uni-potsdam.de<br />
            </p>

            <em>Verantwortlich für den App Store Account des Service Mobile.UP der Universität Potsdam</em>
            <p>
            Ulrike Lucke, CIO der Universität Potsdam<br />
            14469 Potsdam<br />
            <b>E-Mail:</b> <a href="mailto:mobileup-service@uni-potsdam.de">mobileup-service@uni-potsdam.de</a>
            </p>

            <em>Rechtsform und gesetzliche Vertretung</em>
            <p>
            Die Universität Potsdam ist eine Körperschaft des Öffentlichen Rechts. Sie wird gesetzlich vertreten durch Prof. Oliver Günther, Ph.D., Präsident der Universität Potsdam, Am Neuen Palais 10, 14469 Potsdam.
            </p>

            <em>Zuständige Aufsichtsbehörde</em>
            <p>Ministerium für Wissenschaft, Forschung und Kultur des Landes Brandenburg, Dortustr. 36, 14467 Potsdam</p>

            <em>Umsatzsteueridentifikationsnummer und inhaltliche Verantwortlichkeit</em>
            <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz: DE138408327</p>
            <p>Die inhaltliche Verantwortlichkeit i. S. v. § 5 TMG und § 55 Abs. 2 RStV übernimmt der ASTA (Allgemeiner Studierendenausschuss) der Universität Potsdam.</p>

            <em>Haftung</em>
            <p>Für die Punkte Haftung, Urheberrecht und Datenschutz gilt die <a
            href="(http://www.zeik.uni-potsdam.de/fileadmin/projects/zeik/assets/benutzerordnung_zeik.pdf">Nutzungsordnung der ZEIK</a>. Die Haftung erfolgt ausschließlich für die Erstinstallation und weiteren Updates aus dem App Store oder anderen offiziellen Quellen. Applikationen Dritter können ein einigen Stellen in Reflect.UP verlinkt werden. Diese werden jedoch separat installiert und beinhalten eigene Nutzungsrichtlinien. Für die Inhalte solcher Apps zeichnet sich die Universität Potsdam nicht verantwortlich.<br /><br />Der Zugriff ist technisch abgesichert und die Daten werden nicht zwischengespeichert. Die Verwendung dieses Dienstes erfolgt durch den Nutzer freiwillig.</p>

                </p>

            <h1>Ansprechpartner</h1>
            <p>
            <b>Alexander Knoth</b><br /> Universität Potsdam<br /> Wirtschafts- und Sozialwissenschaftliche Fakultät<br /> August-Bebel-Str. 89<br /> 14482 Potsdam<br />
            Haus 1 | 1.54<br />
            <br /> <b>Telefon:</b> +49-331-977-3564 <br style="clear: left;">

            </p>
            </div>

            <div>
            <h1>Mitmachen</h1>
            <p>
            Es gibt die Möglichkeit als studentische Mitarbeiter innerhalb von
            Lehrprojekten, Aufträgen oder Anstellung an der App-Entwicklung im
            Rahmen des eLiS-Projekts mitzuwirken.<br />Die App ist als Open
            Source Projekt veröffentlicht.<br />
            <br />Wenn Sie sich für eine Mitarbeit an der App interessieren,
            können Sie gern das Entwicklerteam unter <a href="mailto:elis-dev@lists.cs.uni-potsdam.de">elis-dev@lists.cs.uni-potsdam.de</a>
            kontaktieren.
            </p>
            </div>

    </script>


    <script type="text/template" id="template-feedback">
        <div id="header" class="hasBackButton"> <a class="back" title="zurück" alt="zurück button" href="#"></a>
        <h1>Feedback abgeben</h1></div>
        <p class="feedback">
            Du bist gefragt! Dir fällt bei Deinem Studieneinstieg etwas auf, das verbessert werden könnte? Du hast Anregungen zu Deinem Studium, Lob oder Kritik? Teil es uns mit! Jederzeit!
            <br/><br/>
            Natürlich freuen wir uns auch über Rückmeldungen zur App, damit wir sie kontinuierlich an Deine Bedürfnisse anpassen können.
        </p>
        <form id="feedbackform" name="feedback" type="POST">
            <textarea id="feedbacktext" name="feedbacktext" rows="5" cols="30"></textarea>
            <br />
            <input class="button" type="submit" value="Abschicken" />
        </form>
    </script>


    <script type="text/template" id="template-feedbackresult">
        <div id="header">
            <h1>Fertig</h1>
        </div>
        <div id="feedbackresult">
            <p><i class="fa fa-check"></i> Feedback erfolgreich abgeschickt.</p>

            <div class="prev-next-nav">
                <a href="#" class="button finish">Fertig</a>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-contact-persons">
        <div id="header" class="hasBackButton">
            <a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1>Ansprechpartner</h1>
        </div>

        <div>
            <% contacts.each(function(levelOne) { %>
                <button class="accordion"><%- levelOne.attributes.category %></button>
                <div class="panel">
                <p>
                <% levelOne.attributes.content.each(function(levelTwo) { %>
                    <% if (levelTwo.attributes.category) { %>
                        <h3><%- levelTwo.attributes.category %></h3>
                    <% } %>

                    <% levelTwo.attributes.content.each(function(contact, index) { %>
                        <div class="contact">
                            <% if (contact.attributes.name) { %>
                                <div>
                                    <span class="contact-name"><%- contact.attributes.name %></span>
                                    <% if (contact.attributes.comment) { %>
                                        <span> (<%- contact.attributes.comment %>)</span>
                                    <% } %>
                                </div>
                            <% } %>
                            <% if (contact.attributes.location) { %>
                                <div><%- contact.attributes.location %></div>
                            <% } %>
                            <% if (contact.attributes.tel) { %>
                                <div>Tel.: <a class="external" href="tel:<%= contact.attributes.telLink %>"><%- contact.attributes.tel %></a></div>
                            <% } %>
                            <% if (contact.attributes.alt_tel) { %>
                                <div>Tel.: <a class="external" href="tel:<%= contact.attributes.alt_telLink %>"><%- contact.attributes.alt_tel %></a></div>
                            <% } %>
                            <% if (contact.attributes.secretary) { %>
                                <div>Sekr.: <a class="external" href="tel:<%= contact.attributes.secretary_telLink %>"><%- contact.attributes.secretary %></a></div>
                            <% } %>
                            <% if (contact.attributes.mail) { %>
                                <div>E-Mail: <a class="external" href="mailto:<%= contact.attributes.mail %>"><%- contact.attributes.mail %></a></div>
                            <% } %>
                            <% if (contact.attributes.consultation) { %>
                                <div>
                                    <span>Sprechzeiten: </span>
                                    <span><%- contact.attributes.consultation %></span>
                                    <% if (contact.attributes.consultation_url) { %>
                                        <span><a class="external" href="<%= contact.attributes.consultation_url %>"><%- contact.attributes.consultation_url %></a></span>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    <% }); %>
                <% }); %>
                </p>
                </div>
            <% }); %>
        </div>
    </script>

    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="js/lib/backbone.js"></script>
    <script type="text/javascript" src="js/lib/backbone.localStorage.js"></script>
    <script type="text/javascript" src="js/lib/URI.js"></script>

    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    <script type="text/javascript" src="js/push.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <title>Reflect.UP</title>
</head>
<body onload="app.initialize()">
	<div id="app"></div>

	 <div id="panel" class="{url:'panel.html'}"></div>
     <div id="infopanel" class="{title: 'Info', url:'infopanel.html'}"></div>

</body>
</html>