<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
<head>
    <meta charset="utf-8" />
    <meta name="format-detection" content="telephone=no" />
    <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="css/index.css" />
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="css/up-style.css" />
    <link rel="stylesheet" type="text/css" href="css/mbExtruder.css" />

    <script type="text/javascript" src="cordova.js"></script>

	<!--  jquery extruder plugin for navigation panel -->
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.hoverIntent.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.mb.flipText.js"></script>
    <script type="text/javascript" src="js/lib/mbExtruder.js"></script>

    <!-- i18next library for internationalization of the app's languages-->
    <script type="text/javascript" src="js/lib/i18next.min.js"></script>

    <script type="text/javascript">
        $(function(){

          $("#panel").buildMbExtruder({
          	 position:"right",
               width:300,
               extruderOpacity:.8,
               onExtOpen:function(){},
               onExtContentLoad:function(){},
               onExtClose:function(){},
               closeOnExternalClick: true
          });

          $("#infopanel").buildMbExtruder({
             position:"bottom",
               width:300,
               extruderOpacity:.8,
               onExtOpen:function(){},
               onExtContentLoad:function(){},
               onExtClose:function(){}
          });
        });

    </script>

    <!--
        Template:       Home Screen
    -->
    <script type="text/template" id="template-home-screen">
        <div id="header">
            <h1><%= i18next.t("titleHome")%></h1>
        </div>
        <div id="dates"></div>
        <div id="questions"></div>

        <div class="impressum-footer" >
            <a class="footerlink"><%= i18next.t("impressum")%></a>
        </div>
        <br />
        <br />
    </script>

    <!--
        Template:       Config Screen
    -->
    <script type="text/template" id="template-config-screen">
        <div id="header">
            <h1><%= i18next.t("title_login")%></h1>
        </div>
        <p style="display: none;" class="loginerror"><%= i18next.t("loginError")%></p>
        <p style="display: none;" class="loginrunning"><%= i18next.t("loginRunning")%></p>

        <div class="loginform">
            <form id="loginform" type="POST">
                <label for"username"><%= i18next.t("userName")%></label>
                <input type="text" id="username" placeholder= <%= i18next.t("userName_placeHolder")%> />
                <label for"password"><%= i18next.t("password")%></label>
                <input type="password" id="password" placeholder=<%= i18next.t("password_placeHolder")%> />
                <input type="submit" value=<%= i18next.t("submit")%> />
            </form>

            <p class="welcome">
                <em style="font-style:normal;"><%= i18next.t("welcomeMessage_1")%></em>
                <br />
                <%= i18next.t("welcomeMessage_2")%>
            </p>
        </div>
        <div class="impressum-footer" >
            <a class="footerlink"><%= i18next.t("impressum")%></a>
        </div>
    </script>
	
	<script type= "text/template" id="template-initial-setup">
            <p class="welcome">
                <em style="font-style:normal;"><%= i18next.t("setupMessage")%></em>
				<br />
            </p>
			<div class= "flex-grid">
				<% _.each(tabs.models, function(tab){ %>
					<div id="<%= tab.get('id')%>" class="grid-item courseTab">
						<p><%= tab.get('title')%></p>
						<br>
						<p><%= tab.get('description')%></p>
                        <div id="tab-logo-container" class="logo-container-format">
                            <% if(tab.get('uniLogoPath') != ''){ %>
                                <img src= <%= tab.get('uniLogoPath')%> alt="uni_logo" style="width:100px;heigh:100px">
                            <% } %> 
                        </div>
					</div>
				<% }); %>
			</div>
			<div class="impressum-footer">
				<a class="footerlink">Uni Potsdam</a>
			</div>
	</script>

    <!--
        Template:       Languages selection page
    -->
    <script type="text/template" id="template-languages-selection">
        <div id="header" class="hasBackButton">
            <a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1> <%= i18next.t("panelLanguages")%></h1>
        </div>
        <br />
        <br />
        <p class="welcome">
            <em style="font-style:normal;"><%= i18next.t("languageMessage")%></em>
        </p>
        <br />
        <br />
        <br />
        <div id= language-select-container class= "language-select blue rounded">
            <select id= language-select>
              <option value="de">Deutsch</option>
              <option value="en">English</option>
              <option value="es">Español</option>
            </select>
        </div>
        <br />
        <br />
        <br />
        <br />
        <div id= language-ok-button class="prev-next-nav" >
            <a id="changeButton" class="button"><i class="fa fa-exchange icon-large" aria-hidden="true"></i>  OK</a>
        </div>
    </script>

    <!--
        Template:       Question Screen
    -->
    <script type="text/template" id="template-questions-screen">
        <div id="header" class="hasBackButton">
            <a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1> <%= i18next.t("titleQuestions")%></h1>
        </div>
        <div id="questions"></div>
    </script>

    <!--
        Template:       Question Collection List
    -->
    <script type="text/template" id="template-question-collection-list">
        <% if (model.length > 0 && notice){ %>
            <div id="teaser">
                <p><%= i18next.t("teaser_1")%></p>
                <a href="#questions"><%= i18next.t("questions_button")%></a>
            </div>
        <% }else if (model.length == 0){ %>
            <div id="teaser">
                <p><%= i18next.t("teaser_2")%></p>
            </div>
        <% }else{ %>
            <ul id="question-collection"></ul>
        <% } %>
    </script>

    <script type="text/template" id="template-appointments-screen">
        <div id="header" class="hasBackButton"><a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1><%= i18next.t("appointmentsTitle")%></h1></div>
        <div id="dates"></div>
    </script>

    <script type="text/template" id="template-appointment-list">
        <ul id="appointments"></ul>
    </script>

    <script type="text/template" id="template-appointment-list-item">
        <div class="date-container" >
        <div class="data">
        <% if (fullView == true) { %>
            <div id="hideAppointmentIcon" class="hideAppointmentButton">
            <% if (model.visible == true) { %>
                <i class="fa fa-eye-slash icon-large" aria-hidden="true"></i>
            <% }else{ %>
                <i class="fa fa-eye icon-large" aria-hidden="true"></i>
            <% } %>
            </div>
        <% } %>
        <div class="date" >
        <%- model.begin.getDate() %>.<%- ('0'+(model.begin.getMonth()+1)).slice(-2) %>
        <% if (model.begin.getDate() != model.end.getDate()){ %>
        -
        <%- ('0'+(model.end.getDate())).slice(-2) %>.<%- ('0'+(model.end.getMonth()+1)).slice(-2) %>
        <% } %>
        </div>
        <div class="time" >
        <% if (model.begin.getTime() === model.end.getTime()){  %>
        ganztägig
        <% }else{ %>
        <% if (model.begin.getHours() != 0 && model.begin.getMinutes() != 0){ %>
        <%- ('0'+model.begin.getHours()).slice(-2) %>:<%- ('0'+model.begin.getMinutes()).slice(-2) %>
        -
        <%- ('0'+model.end.getHours()).slice(-2) %>:<%- ('0'+model.end.getMinutes()).slice(-2) %>
        <% } %>
        <% } %>
        </div>
        </div>
        </div>
        <% if (fullView == true) { %> <div class="description-full"> <% }else{ %> <div class="description"> <% } %>
        <%= model.title %></div>
        <% if (fullView == true) { %> <div class="subdescription-full"> <% }else{ %> <div class="subdescription"> <% } %>
        <%= model.description %></div>
        <div class="clear"></div>
         <% if (fullView == true) { %>
			<% if (model.toNotify == false && model.visible == true) { %>
				<a id="notificationButton" class="notifyAppointmentButton"><i class="fa fa-bell-o icon-large" aria-hidden="true"></i></a> 
			<% } else if(model.toNotify == true){ %>
				<a  class="notifyAppointmentButton"><i class="fa fa-bell icon-large" aria-hidden="true"></i></a>
			<% } %>
         <% } %>
    </script>

    <script type="text/template" id="template-question-collection-list-item">
        <a href="questions/<%- containerId %>/<%- questionId %>"> <%- title %></a>
    </script>

    <script type="text/template" id="template-question">
        <% if(lastQuestion == 0){  %>
        <div id="header">
         <%  if(total == 1){ %>
        <h1><%= i18next.t("questionCounter")%></h1></div>
        <% }else{ %>
        <h1><%= i18next.t("questionCounter")%><%- number %> / <%- total %></h1>
        <% } %>
        </div>
        <div class="content-container">
            <p><%- questionText %></p>
            <div id="answer-feedback"></div>
            <div id="answer"></div>
        </div>
        <div class="prev-next-nav" >
            <div class="np-wrapper">
                 <a href="#questions/<%- containerId %>/<%- previousId %>" id="previousButton"><%= i18next.t("backButton")%></a>
                 <a href="#questions/<%- containerId %>/<%- nextId %>" id="nextButton"><%= i18next.t("nextButton")%></a>
            </div>
        </div>
        <% } else{ %>
            <div id="header"><h1><%= i18next.t("headerFinish")%></h1></div>
            <div id="end-message" ></div>
            <div class="prev-next-nav">
                <br />
                <br />
                <a href="#" class="button finish"><%= i18next.t("buttonFinish")%></a>
            </div>
        <% } %>    
    </script>

    <script type="text/template" id="template-impressum">
        <div id="impressum-html-content" >
        </div>
        <br />
        <div id="logo-container">
        </div>
    </script>


    <script type="text/template" id="template-feedback">
        <div id="header" class="hasBackButton"> <a class="back" title="zurück" alt="zurück button" href="#"></a>
        <h1><%= i18next.t("feedbackHeader")%></h1></div>
        <p class="feedback">
            <%= i18next.t("feedbackMessage_1")%>
            <br/><br/>
            <%= i18next.t("feedbackMessage_2")%>
        </p>
        <form id="feedbackform" name="feedback" type="POST">
            <textarea id="feedbacktext" name="feedbacktext" rows="5" cols="30"></textarea>
            <br />
            <input class="button" type="submit" value=<%= i18next.t("feedbackButton")%> />
        </form>
    </script>


    <script type="text/template" id="template-feedbackresult">
        <div id="header">
            <h1><%= i18next.t("feedbackFinish_header")%></h1>
        </div>
        <div id="feedbackresult">
            <p><i class="fa fa-check"></i><%= i18next.t("feedbackFinish_message")%></p>

            <div class="prev-next-nav">
                <a href="#" class="button finish"><%= i18next.t("feedbackFinish_button")%></a>
            </div>
        </div>
    </script>

    <script type="text/template" id="template-contact-persons">
        <div id="header" class="hasBackButton">
            <a class="back" title="zurück" alt="zurück button" href="#"></a>
            <h1><%= i18next.t("contactHeader")%></h1>
        </div>

        <div>
            <% contacts.each(function(levelOne) { %>
                <button class="accordion"><%- levelOne.attributes.category %></button>
                <div class="panel">
                <p>
                <% levelOne.attributes.content.each(function(levelTwo) { %>
                    <% if (levelTwo.attributes.category) { %>
                        <h3><%- levelTwo.attributes.category %></h3>
                    <% } %>

                    <% levelTwo.attributes.content.each(function(contact, index) { %>
                        <div class="contact">
                            <% if (contact.attributes.name) { %>
                                <div>
                                    <span class="contact-name"><%- contact.attributes.name %></span>
                                    <% if (contact.attributes.comment) { %>
                                        <span> (<%- contact.attributes.comment %>)</span>
                                    <% } %>
                                </div>
                            <% } %>
                            <% if (contact.attributes.location) { %>
                                <div><%- contact.attributes.location %></div>
                            <% } %>
                            <% if (contact.attributes.tel) { %>
                                <div>Tel.: <a class="external" href="tel:<%= contact.attributes.telLink %>"><%- contact.attributes.tel %></a></div>
                            <% } %>
                            <% if (contact.attributes.alt_tel) { %>
                                <div>Tel.: <a class="external" href="tel:<%= contact.attributes.alt_telLink %>"><%- contact.attributes.alt_tel %></a></div>
                            <% } %>
                            <% if (contact.attributes.secretary) { %>
                                <div>Sekr.: <a class="external" href="tel:<%= contact.attributes.secretary_telLink %>"><%- contact.attributes.secretary %></a></div>
                            <% } %>
                            <% if (contact.attributes.mail) { %>
                                <div>E-Mail: <a class="external" href="mailto:<%= contact.attributes.mail %>"><%- contact.attributes.mail %></a></div>
                            <% } %>
                            <% if (contact.attributes.consultation) { %>
                                <div>
                                    <span>Sprechzeiten: </span>
                                    <span><%- contact.attributes.consultation %></span>
                                    <% if (contact.attributes.consultation_url) { %>
                                        <span><a class="external" href="<%= contact.attributes.consultation_url %>"><%- contact.attributes.consultation_url %></a></span>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    <% }); %>
                <% }); %>
                </p>
                </div>
            <% }); %>
        </div>
    </script>

    <script type="text/javascript" src="js/lib/underscore.js"></script>
    <script type="text/javascript" src="js/lib/backbone.js"></script>
    <script type="text/javascript" src="js/lib/backbone.localStorage.js"></script>
    <script type="text/javascript" src="js/lib/URI.js"></script>

    <script type="text/javascript" src="js/models.js"></script>
    <script type="text/javascript" src="js/views.js"></script>
    <script type="text/javascript" src="js/push.js"></script>
    <script type="text/javascript" src="js/index.js"></script>

    <title>Reflect.UP</title>
</head>
<body onload="app.initialize()">
	<div id="app"></div>

	 <div id="panel" class="{url:'panel.html'}"></div>
     <div id="infopanel" class="{title: 'Info', url:'infopanel.html'}"></div>

</body>
</html>