<ion-app>
  <ion-menu contentId='content' side='end' swipeGesture='false' type='overlay'>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'label.menu' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item-group *ngIf="menuSetup">
        <ion-item *ngFor="let page of pagesInMenu" (click)="openPage(page)">
          <ion-icon color="primary" [name]="page.icon"></ion-icon>
          <ion-label>{{ page.title | translate }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon color="primary" name="log-out" slot="start"></ion-icon>
          <ion-label>{{ 'pageHeader.logoutPage' | translate }}</ion-label>
        </ion-item>
      </ion-item-group>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-app>
