page-question-detail {
    textarea {
        width: 100%;
        border-color:color($colors, upgrey);
        border-width:1px;
        border-style:solid;
        padding:.2em;
    }

    #navButtons {
        width: 40%;
    }

    .header {
        h6 {
            font-weight: bold;
            font-size: 1.3em;
        }
    }

    .list-ios > .item-block:first-child, 
    .list-ios > .item-block:last-child, 
    .list-ios > .item-wrapper:last-child .item-block {
        border:none;
    }

    .list-ios > .item-block:last-child .item-inner, 
    .list-ios > .item-wrapper:last-child .item-block .item-inner,
    .list-ios .item-block .item-inner {

        border-bottom: 0.55px solid color($colors, upgrey);
    
    }

    .radio-ios .radio-icon {
        width:20px;
        height:20px;
        background-color: color($colors, upgrey);
    }

    .radio button, .item-radio, .item-checkbox {
        padding-left:0 !important;
    }

    div.description {
        font-size: 1.35rem;
    }

    .card, card-md, card-ios {
        .card-content, .card-content-md {
            text-align: center;
        }
    }
}
