<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ 'pageHeader.feedbackPage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="!selectedSession">
    <ion-card-content class="reminder">
      {{ "label.feedbackPage.selectCourse" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-select
    *ngIf="!submitted"
    (ionChange)="setSelectedModule($event)"
    [placeholder]="'buttonLabel.selectCourse' | translate"
    [cancelText]="'buttonLabel.cancel' | translate"
  >
    <ion-select-option *ngFor="let module of sessions" [value]="module">
      {{ module.courseFac }} ({{ module.courseName }})
    </ion-select-option>
  </ion-select>

  <div
    *ngIf="submitted; then submittedTemplate; else notSubmittedTemplate"
  ></div>

  <!-- displayed after feedback has been submitted -->
  <ng-template #submittedTemplate>
    <ion-card>
      <ion-card-content class="reminder">
        {{ "label.feedbackPage.feedbackSend" | translate }}
      </ion-card-content>
    </ion-card>
    <div align="right">
      <ion-button full (click)="goHome()">
        {{ "buttonLabel.finish" | translate }}
      </ion-button>
    </div>
  </ng-template>

  <!-- displayed when no feedback has been submitted -->
  <ng-template #notSubmittedTemplate>
    <form
      *ngIf="selectedSession !== undefined"
      (ngSubmit)="asyncSendFeedback(feedbackText)"
      #registerForm="ngForm"
    >
      <ion-card>
        <ion-card-content class="reminder">
          {{ "label.feedbackPage.infoMessage_1" | translate }}
          <br />
          <br />
          {{ "label.feedbackPage.infoMessage_2" | translate }}
        </ion-card-content>
      </ion-card>

      <ion-item>
        <ion-textarea
          type="text"
          [placeholder]="'label.feedbackPage.textPlaceholder' | translate"
          name="feedbackText"
          [(ngModel)]="feedbackText"
          autoGrow="true"
          required="true"
        ></ion-textarea>
      </ion-item>

      <div align="right">
        <ion-button class="submit-btn" type="submit" [disabled]="!feedbackText">
          <ion-icon name="checkmark" slot="start"></ion-icon>
          {{ "buttonLabel.submit" | translate }}
        </ion-button>
      </div>
    </form>
  </ng-template>
</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>
