page-questions {
    .card, .card-md, .card-ios {
        .card-content, .card-content-md {
            text-align: center
        }
    }

    button.btn-accordeon {
        text-transform:none;
    }

    .completedQuestion {
        background-color: color($colors, secondary);
        border-radius: 0px;
    }

    .item {
        min-height: 10px;
        max-height: 40px;
    }

}
