page-select-module {
    .searchbar-md .searchbar-input,
    .searchbar-ios .searchbar-input,
    .searchbar .searchbar-input  {
        -webkit-box-shadow: none;
        box-shadow: 000;
        border-radius:0;
    }

    .filter-modules {
       background-color:transparent;
       color:color($colors, primary);
    }

    .filter-modules.activated {
        background-color:transparent;
        color:color($colors, primary); 
    }

    .card {

        h2 {
            font-size: 90%;
        }

        .card-content, 
        .card-content-ios,
        .card-content-md {
            border:none;
        }

        .item-md, .item-ios, .item {
            padding-left: 0;
            padding-right: 0;
        }

        .card-content-md p,
        .card-content p,
        .card-content-ios p {
        
            margin-left: 50px;
        }
    }

    .tabButtons {
        width: auto;
    }
}
