<ion-header>
  <ion-toolbar>
    <ion-button slot="start" (click)="goBack()" fill="clear">
      <ion-icon style="color: black; font-size: x-large;" name="chevron-back"></ion-icon>
    </ion-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>
      {{ 'pageHeader.logoutPage' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let session of sessions" [ngClass]="session.isHidden ? 'hiddenSession' : ''">
      <ion-checkbox [(ngModel)]="session.isChecked" slot="start"></ion-checkbox>
      <ion-label class="ion-text-wrap">
        <h3>{{ session.courseName }} ({{ session.courseFac }})</h3>
      </ion-label>
      <ion-icon *ngIf="!session.isHidden && sessions.length > 1" name="eye" (click)="changeSessionVisibility(session)"></ion-icon>
      <ion-icon *ngIf="session.isHidden" name="eye-off" (click)="changeSessionVisibility(session)"></ion-icon>
      <ion-icon name="square" size="large" [style]="getHexColor(session)"></ion-icon>
    </ion-item>
  </ion-list>
  <div align="right" class="ion-padding-end">
    <ion-button (click)="hideCourses()" [disabled]="isModuleSelected()">
      {{ "buttonLabel.changeVisibility" | translate }}
    </ion-button>
    <ion-button (click)="performLogout()" [disabled]="isModuleSelected()">
      {{ "buttonLabel.logout" | translate }}
    </ion-button>
  </div>
</ion-content>
