<ion-header>

  <ion-navbar>
    <ion-title>{{ "pageHeader.mintPage" | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <h5 padding-top padding-left padding-right>
    <b class="blue">M</b>athematik, <b class="blue">I</b>nformatik, <b class="blue">N</b>aturwissenschaften, <b class="blue">T</b>echnik
  </h5>

  <div padding>
    <div style="text-align: justify;">
      Du bist in den ersten Semestern deines Studiums und dir fehlt manchmal der Durchblick bei Studieninhalten oder bei der Studienorganisation? Dann bist du im MINT-Raum genau richtig!<br><br>
      Hier unterstützen dich fortgeschrittene Studierende bei deinem Selbststudium oder helfen dabei Verständnisfragen in den mathematisch-naturwissenschaftlichen Fächern zu klären, damit du dich in deinem Studium wohl fühlen kannst.
      <br><br>
      <b>Wir bieten dir:</b>
    </div>

    <ol>
      <li>einen Platz zum eigenen Lernen und Arbeiten (Selbststudium)</li><br>
      <li>Hilfe zur Selbsthilfe bei naturwissenschaftlichen Übungsblättern von TutorInnen höherer Semester</li><br>
      <li>
        Unterstützung beim wissenschaftlichen Schreiben von Hausarbeiten und Bachelorarbeiten. Insbesondere können unsere TutorenInnen dich beraten bei:<br><br>
        <ul>
          <li>Literaturrecherche in Datenbanken</li>
          <li>Strukturiertem Schreiben und richtigem Zitieren</li>
        </ul>
      </li>
    </ol>

    <br>
    <b>Koordinatorin MINT-Raums:</b><br>
    Charlotte Riemer (<a href="mailto:miriemer@​uni-potsdam.de">miriemer@​uni-potsdam.de</a>)
  </div>

  <div *ngIf="configLoaded" padding>
    <div *ngFor="let mintCampus of mintDetails" (click)="console.log(mintDetails)">
      <h6>{{ mintCampus.campus }}</h6>
  
      <div *ngFor="let mintTutor of mintCampus.schedule">
        {{ mintTutor.tutor }}
        {{ mintTutor.subject }}
        {{ mintTutor.timeslot }}
      </div>
    </div>
  </div>
  
</ion-content>

<ion-footer>
  <tab-bar></tab-bar>
</ion-footer>