question {
    .question {
        background-color: color($colors, primary);
        color: color($colors, light);
        border-radius: 0px;
    }

    .completedQuestion {
        background-color: color($colors, secondary);
        border-radius: 0px;
    }
}
