page-impressum {
    em {
        font-weight:bold;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.2;
        margin-block-start: .67em;
        margin-block-end: .67em;
        font-style:normal;
    }

    .card {
        .card-content, 
        .card-content-ios,
        .card-content-md {
            border:none;
            text-align: center;
        }
    }
}
