<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
        <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
        <title>UP Reflection</title>
    </head>
    <body>
        <div id="app">
            <!-- <h1>UP Reflection</h1>
            <div>
                
                <ul class="dates" >
                    <li>
                        <div class="date-container" >
                            <div class="date" >15.02.</div>
                            <div class="time" >12:00 - 14:00</div>
                        </div>
                        
                        <div class="description" >Prüfung Stochastik</div>
                        <div class="more" ><i class="fa fa-angle-right fa-2x"></i></div>
                        <div class="clear"></div>
                    </li>
                    <div class="line"></div>
                    <li>
                        <div class="date-container" >
                            <div class="date" >28.02.</div>
                            <div class="time" >17:00 - 21:00</div>
                        </div>
                        
                        <div class="description" >Semesterball</div>
                        <div class="more" ><i class="fa fa-angle-right fa-2x"></i></div>
                        <div class="clear"></div>
                    </li>
                    <div class="line"></div>
                    <li>
                        <div class="date-container" >
                            <div class="date" >31.03.</div>
                            <div class="time" ></div>
                        </div>
                        
                        <div class="description" >Ende: Wintersemester</div>
                        <div class="more" ><i class="fa fa-angle-right fa-2x"></i></div>
                        <div class="clear"></div>
                    </li>
                    <div class="line"></div>
                    <li>
                        <div class="date-container" >
                            <div class="date" >10.04.</div>
                            <div class="time" ></div>
                        </div>
                        
                        <div class="description" >Beginn: Einschreibezeitraum</div>
                        <div class="more" ><i class="fa fa-angle-right fa-2x"></i></div>
                        <div class="clear"></div>
                    </li>

                </ul>
                <div class="content-footer" >
                    <a href="dates.html" class="button" >Weitere Termine</a>
                </div>
            </div>

            <div>
                <h2>Offene Fragen</h2>

                <ul class="dates" >
                    <li>
                        
                        <div class="description" >Studiensituation</div>
                        <div class="more" > <a href="question.html"><i class="fa fa-angle-right fa-2x"></i></a> </div>
                        <div class="clear"></div>
                    </li>
                    <div class="line"></div>
                    <li>
                        <div class="description" >Reflection</div>
                        <div class="more" ><i class="fa fa-angle-right fa-2x"></i></div>
                        <div class="clear"></div>
                    </li>

                </ul>
            
                
               
            </div> -->


            
            
        </div>


        <script type="text/template" id="template-home-screen">
            <h1> <%- title %></h1>
            <div id="dates">
                
            </div>
            <div id="questions">
                <h2>Offene Fragen</h2>
                <ul class="dates" >
                    
                </ul>
            </div>
        </script>

        <script type="text/template" id="template-appointment-list">
            <ul id="appointments">
            </ul>
        </script>

        <script type="text/template" id="template-appointment-list-item">
            <div class="date-container" >
                <div class="date" >0<%- begin.getDate() %>.0<%- begin.getMonth()+1 %></div>
                <div class="time" ><%- begin.getHours() %>:<%- begin.getMinutes() %>-
                <%- end.getHours() %>:<%- end.getMinutes() %></div>
            </div>
            
            <div class="description" ><%- title %></div>
            <div class="more" ><i class="fa fa-angle-right fa-2x"></i></div>
            <div class="clear"></div>
        </script>

        <script type="text/javascript" src="js/lib/jquery-2.1.0.js"></script>
        <script type="text/javascript" src="js/lib/underscore.js"></script>
        <script type="text/javascript" src="js/lib/backbone.js"></script>

        <script type="text/javascript" src="js/models.js"></script>
        <script type="text/javascript" src="js/views.js"></script>

       
        <script type="text/javascript" src="js/index.js"></script>

        
        <script type="text/javascript">
            app.initialize();
        </script>
    </body>
</html>
