<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-menu-button slot="end"></ion-menu-button>
    <ion-title>{{ 'pageHeader.appointmentsPage' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="initEvents($event, true)" slot="fixed">
    <ion-refresher-content
    pullingText=""
    refreshingText=""></ion-refresher-content>
  </ion-refresher>

  <div align="center" padding>
    <ion-col>
      <ion-button size="small" [ngClass]="showAll ? 'activeCalendarButton' : 'calendarButton'" (click)="resetCalendar()">{{ "buttonLabel.showAll" | translate}}</ion-button>
      <ion-button size="small" [ngClass]="basicCalendarMode ? 'activeCalendarButton' : 'calendarButton'" (click)="basicCalendarMode = true; showBasicCalendar = true; showAll = false;">{{ "buttonLabel.pickDate" | translate}}</ion-button>
    </ion-col>
  </div>

  <ion-calendar *ngIf="showBasicCalendar" [(ngModel)]="date"
    (change)="pickDate($event)"
    [options]="optionsBasic"
    [type]="type"
    [format]="'YYYY-MM-DD'">
  </ion-calendar>

  <div align="center" *ngIf="!isLoaded" padding>
    <ion-spinner></ion-spinner>
  </div>

  <div *ngIf="isLoaded && !showAll" padding-horizontal>
    <app-event *ngFor="let ev of eventList; let i = index"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]"
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></app-event>
  </div>

  <ion-list *ngIf="isLoaded && showAll">
    <ion-item-divider (click)="showEventToday = !showEventToday">
      <div *ngIf="!isEventToday">{{ "label.appointmentsPage.today" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventToday">{{ "label.appointmentsPage.today" | translate }}</div>
      <ion-icon *ngIf="showEventToday && isEventToday" slot="start" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventToday || !isEventToday" slot="start" name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <div *ngFor="let ev of eventList; let i = index" padding-horizontal>
      <app-event *ngIf="eventToday[ev.id] && showEventToday"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]"
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></app-event>
    </div>
    <ion-item-divider (click)="showEventTomorrow = !showEventTomorrow">
      <div *ngIf="!isEventTomorrow">{{ "label.appointmentsPage.tomorrow" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventTomorrow">{{ "label.appointmentsPage.tomorrow" | translate }}</div>
      <ion-icon *ngIf="showEventTomorrow && isEventTomorrow" slot="start" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventTomorrow || !isEventTomorrow" slot="start" name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <div *ngFor="let ev of eventList; let i = index" padding-horizontal>
      <app-event *ngIf="eventTomorrow[ev.id] && showEventTomorrow"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]"
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></app-event>
    </div>
    <ion-item-divider (click)="showEventThisWeek = !showEventThisWeek">
      <div *ngIf="!isEventThisWeek">{{ "label.appointmentsPage.thisWeek" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventThisWeek">{{ "label.appointmentsPage.thisWeek" | translate }}</div>
      <ion-icon *ngIf="showEventThisWeek && isEventThisWeek" slot="start" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventThisWeek || !isEventThisWeek" slot="start" name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <div *ngFor="let ev of eventList; let i = index" padding-horizontal>
      <app-event *ngIf="eventThisWeek[ev.id] && showEventThisWeek"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]"
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></app-event>
    </div>
    <ion-item-divider (click)="showEventLater = !showEventLater">
      <div *ngIf="!isEventLater">{{ "label.appointmentsPage.later" | translate }} ({{ "label.appointmentsPage.noAppointmentsAvailable" | translate }})</div>
      <div *ngIf="isEventLater">{{ "label.appointmentsPage.later" | translate }}</div>
      <ion-icon *ngIf="showEventLater && isEventLater" slot="start" name="arrow-dropdown"></ion-icon>
      <ion-icon *ngIf="!showEventLater || !isEventLater" slot="start" name="arrow-dropright"></ion-icon>
    </ion-item-divider>
    <div *ngFor="let ev of eventList; let i = index" padding-horizontal>
      <app-event *ngIf="eventLater[ev.id] && showEventLater"
      [event]="ev"
      [hiddenEvent]="hiddenEvent[ev.id]"
      [scheduledEvent]="scheduledEvent[ev.id]"
      [index]="i"
      [isPushAllowed]="isPushAllowed" ></app-event>
    </div>
  </ion-list>


  <ion-row *ngIf="noAppointments">
      <ion-col>
        <ion-card>
          <ion-card-content class="reminder">
           {{ "label.appointmentsPage.noAppointmentsAvailable" | translate }}
          </ion-card-content>
        </ion-card>
      </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <app-tab-bar></app-tab-bar>
</ion-footer>